<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script
      src="https://kit.fontawesome.com/1b2855684f.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
  </head>
  <body class="bg-white-200">
    <div
      class="flex justify-between p-4 items-center sticky top-0 bg-white z-50"
    >
      <div>
        <h1 class="font-bold">LibManage</h1>
      </div>
      <div class="flex gap-4 items-center">
        <a href="/render/home">
          <button class="font-semibold cursor-pointer">Home</button>
        </a>
        <a href="/render/auth/student/login">
          <button
            class="p-4 py-3 bg-black font-bold text-white rounded-2xl cursor-pointer"
          >
            Login
          </button>
        </a>
        <a href="/addBook">
          <button
            class="p-4 py-3 bg-black font-bold text-white rounded-2xl cursor-pointer"
          >
            Add book
          </button>
        </a>
      </div>
    </div>
    <!-- Top books -->
    <div class="flex flex-col mx-4 rounded-3xl bg-gray-200 p-4 gap-4">
      <div
        class="flex text-5xl font-semibold w-full text-start p-4 rounded-3xl bg-white justify-between"
      >
        Welcome to Library
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 overflow-y-scroll max-h-[77vh] rounded-3xl"
        style="scrollbar-width: none; -ms-overflow-style: none"
      >
        <% books.forEach(function(book) { %>
        <div
          class="m-0 rounded-3xl bg-white p-2 min-w-[24rem] flex flex-col cursor-pointer shadow-black"
        >
          <div class="flex justify-between p-4">
            <span
              class="bg-black text-white py-2 px-4 w-fit h-fit rounded-full"
            >
              <%= book.copiesAvailable %> books left
            </span>
            <button class="bg-gray-200 p-4 px-5 rounded-2xl">
              <i class="fa-solid fa-arrow-up-long rotate-45"></i>
            </button>
          </div>
          <div class="flex flex-col flex-grow p-4 gap-2">
            <h2 class="text-4xl font-semibold w-full text-start truncate">
              <%= book.title %>
            </h2>
            <p class="text-md font-light w-full line-clamp-2 text-justify">
              <%= book.description %>
            </p>
            <div
              class="w-full flex gap-2 overflow-x-scroll"
              style="scrollbar-width: none; -ms-overflow-style: none"
            >
              <% book.genre.forEach(function(genre) { %>
              <span class="bg-black text-white py-1 px-4 rounded-full w-fit">
                <%= genre %>
              </span>
              <% }); %>
            </div>
            <span class="w-full opacity-70 font-light text-start text-sm">
              by: <%= book.author %>
            </span>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>